/*++++++++++++++++++++++++++++ GENERAL ++++++++++++++++++++++++++++*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-grey-soft: #EAEAEA;
    --bg-grey-hard: #B1B1B1;
    --bg-sky-blue: #8EDAFC;
}


#app {
    height: 100vh;
    background: rgb(0, 149, 135);
    background: linear-gradient(180deg, rgba(0, 149, 135, 1) 15%, rgba(215, 219, 215, 1) 15%);
}

img {
    height: 50px;
}

span,
a {
    font-size: 0.8rem;
}

.grassetto {
    font-size: 1rem;
    font-weight: bold;
}


#left-container #main-user button,
#right-container #contact-active button {
    color: var(--bg-grey-hard);
    background-color: var(--bg-grey-soft);
    /* width: 1.2rem; */
}

/* hover button */
#left-container #main-user button:hover,
#right-container #contact-active button:hover,
#left-container #notification button:hover,
#right-container #message-input button:hover {
    color: black;
}

.chat-attiva {
    background-color: darkgray !important;
}


/*++++++++++++++++++++++++++++ MAIN CONTAINER ++++++++++++++++++++++++++++*/
#main-container {
    width: 70%;
    border: 1px solid black;
}

/*++++++++++++++++++++++++++++ LEFT CONTAINER ++++++++++++++++++++++++++++*/
#left-container {
    width: 35%;
}

/* left container main user */
#left-container #main-user {
    background-color: var(--bg-grey-soft);
    height: 9%;
}

/* left container notification */
#left-container #notification {
    background-color: var(--bg-sky-blue);
    height: 9%;
}

#left-container #notification button {
    color: var(--bg-sky-blue);
}

/* left container find contact */
#left-container #find-contact {
    background-color: var(--bg-grey-soft);
    height: 7%;
}

#left-container #find-contact button {
    border-color: var(--bg-grey-hard);
    background-color: white;
    width: 20%;
}

/* left container contact list */
#left-container #contact-list {
    overflow-y: scroll;
}

/* left container contact card */
#left-container #contact-list .contact-card {
    border-bottom-color: var(--bg-grey-hard);
    background-color: white;
    height: 13%;
}

/*++++++++++++++++++++++++++++ RIGHT CONTAINER ++++++++++++++++++++++++++++*/
#right-container {
    width: 65%;
}

/* right container contact active */
#right-container #contact-active {
    background-color: var(--bg-grey-soft);
    border-left-color: var(--bg-grey-hard);
    height: 9%;
}

/* right container chat container */
#right-container #chat-container {
    background-image: url(./img/mine.jpg);
    overflow-y: scroll;
    height: 83%;
}

#right-container #chat-container .clock {
    right: 0.3rem;
}

/* right container input messaggio */
#right-container #message-input {
    background-color: var(--bg-grey-soft);
    height: 8%;
}

#right-container #message-input button {
    background-color: var(--bg-grey-soft);
    color: var(--bg-grey-hard);
}